<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.savemymeal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SaveMyMeal">
        <activity
            android:name=".HomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePage"
                android:resource="@array/preloaded_fonts"/>
        </activity>
        <activity android:name=".ListaDeCompras"
            android:label="Lista de Compras"
            android:parentActivityName=".HomePage">
            <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
        </activity>
        <activity
            android:name=".VegetablesActivity"
            android:exported="false" />
        <activity
            android:name=".DispensaActivity"
            android:label="@string/text_dispensa_label"
            android:parentActivityName=".HomePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePage" />
        </activity>
        <activity
            android:name=".PopUp"
            android:theme="@style/Theme.AppCompat.PopUp" />
        <activity android:name=".receipt_selection">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePage" />
        </activity>
        <activity android:name=".Pop_receita_ovo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".receipt_selection" />
        </activity>
        <activity android:name=".Pop_receita_salada_fruta">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".receipt_selection" />
        </activity>
        <activity android:name=".SelectIngredient"
            android:theme="@style/Theme.AppCompat.PopUp"
            >
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>
